@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --gridSize: 0;

  margin: 0;
  padding: 0;

  background-color: #202124;
  color: white;
  font-family: 'Montserrat';
}

input {
  justify-items: center;
  align-items: center;

  color: white;

  background-color: #1b1c1e;
  border: 0;
}
