:root {
  --gridSize: 0;

  margin: 0;
  padding: 0;

  background-color: #202124;
  color: white;
}

input {
  justify-items: center;
  align-items: center;

  color: white;

  background-color: #1b1c1e;
  border: 0;
}
